.t-pay {
	padding: 65px 30px 70px 115px;
	font-family: Inter;
	& .wrappers {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	&__status {
		&-ready {
			color: #5ec3ac !important;
			&::after {
				background: #5ec3ac !important;
			}
		}
		&-cancel {
			color: #ff2d55 !important;
			&::after {
				background: #ff2d55 !important;
			}
		}
	}
	&__history {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		max-width: 790px;
		width: 100%;
		&-title {
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: #435179;
		}
		&-nav {
			margin: 52px 0 0 0;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			&-items {
				& p {
					font-style: normal;
					font-weight: bold;
					font-size: 16px;
					line-height: 19px;
					color: #435179;
				}
				&:nth-child(1) {
					margin: 0 0 0 22px;
				}
				&:nth-child(2) {
					margin: 0 0 0 138px;
				}
				&:nth-child(3) {
					margin: 0 0 0 53px;
				}
				&:nth-child(4) {
					margin: 0 0 0 115px;
				}
			}
		}
		&-list {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			width: 100%;
			&-items {
				margin: 23px 0 0 0;
				background: #ffffff;
				border-radius: 15px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding: 23px;
				max-width: 790px;
				width: 100%;
				&:last-child {
					margin: 23px 0;
				}
				&-date {
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 17px;
					color: #435179;
					width: 110px;
				}
				&-price {
					margin: 0 0 0 auto;
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 17px;
					color: #000000;
					width: 100px;
				}
				&-status {
					padding: 0 0 0 21px;
					width: 100px;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 14px;
					color: #000;
					margin: 0 0 0 auto;
					position: relative;
					&::after {
						content: "";
						position: absolute;
						top: 50%;
						left: 0;
						transform: translate(0%, -50%);
						border-radius: 50%;
						width: 6px;
						height: 6px;
						background: #000;
					}
				}
				&-comment {
					margin: 0 0 0 auto;
					width: 210px;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 17px;
					color: #435179;
				}
			}
		}
	}
	&__account {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		width: 100%;
		max-width: 372px;
		&-title {
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: #435179;
		}
		&-add {
			margin: 52px 0 0 28px;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			color: #435179;
		}
		&-block {
			background: #ffffff;
			border-radius: 12px;
			padding: 29px 41px;
			width: 100%;
			margin: 22px 0 0 0;
			&-sum {
				width: 290px;
				background: #625dee;
				border-radius: 9px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				padding: 20px;
				position: relative;
				overflow: hidden;
				&-add {
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 14px;
					color: #8d9fff;
				}
				&-items {
					margin: 22px 0 0 0;
					font-style: normal;
					font-weight: bold;
					font-size: 42px;
					line-height: 24px;
					color: #ffffff;
					width: 180px;
				}
				&-text {
					margin: 58px 0 0 0;
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 16px;
					color: #8d9fff;
					width: 200px;
				}
				&-circle {
					position: absolute;
					right: 20px;
					bottom: 20px;
					&::after {
						content: "";
						position: absolute;
						right: 0px;
						bottom: 0px;
						width: 16px;
						height: 16px;
						background: #5a55d6;
						border-radius: 50%;
						z-index: 1;
					}
					&::before {
						content: "";
						position: absolute;
						right: 8px;
						bottom: 0px;
						width: 16px;
						height: 16px;
						background: #ff5283;
						border-radius: 50%;
						z-index: 3;
					}
				}
				&::after {
					content: "";
					position: absolute;
					width: 87px;
					height: 87px;
					right: 7px;
					z-index: 1;
					top: -40px;
					border-radius: 50%;
					background: #ff5283;
				}
				&::before {
					content: "";
					position: absolute;
					width: 87px;
					height: 87px;
					right: -36px;
					top: -1px;
					z-index: 3;
					border-radius: 50%;
					background: #5a55d6;
				}
			}
			&-input {
				margin: 28px 0 0 0;
				background: #ffffff;
				border: 2px solid #625dee;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding: 18px 34px;
				width: 100%;
				border-radius: 26.5px;
			}
			&-list {
				margin: 25px 0;
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(133px, 1fr));
				gap: 9px 24px;
				width: 100%;
			}
			&-items {
				width: 133px;
				height: 38px;
				border: 1px solid #d2d2d2;
				border-radius: 19px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				& p {
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 24px;
					color: #090909;
				}
			}
			&-btn {
				margin: 28px 0 0 0;
				background: #ff5283;
				border-radius: 100px;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 16px 50px;
				width: 100%;
				& p {
					font-style: normal;
					font-weight: bold;
					font-size: 24px;
					line-height: 29px;
					color: #ffffff;
				}
			}
		}
	}
}
