.t-quiz {
	padding: 65px 0 80px 115px;
	font-family: Inter;
	&__type {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		&-title {
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: #435179;
		}
		&-add {
			margin: 45px 0 0 25px;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			color: #435179;
		}
		&-block {
			display: grid;
			gap: 40px;
			grid-template-columns: repeat(2, 1fr);
			width: 100%;
			margin: 25px 0 0 0;
			&-items {
				cursor: pointer;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				border-radius: 12px;
				width: 100%;
				height: 420px;
				&:nth-child(1) {
					background: #625dee;
				}
				&:nth-child(2) {
					background: #ff5283;
				}
				& p {
					margin: 18px 0 0 0;
					font-style: normal;
					font-weight: bold;
					font-size: 24px;
					line-height: 29px;
					text-align: center;
					color: #ffffff;
				}
			}
		}
	}
	&__age {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		&-title {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: rgba(67, 81, 121, 0.5);
			& span {
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 29px;
				color: #435179;
				opacity: 1;
				margin: 0 11px;
			}
			& p {
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 29px;
				color: #435179;
				opacity: 1;
			}
		}
		&-add {
			margin: 45px 0 0 25px;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			color: #435179;
		}
		&-list {
			margin: 45px 0 0 0;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 29px;
			width: 100%;
		}
		&-items {
			background: #625dee;
			border-radius: 100px;
			padding: 28px 66px;
			cursor: pointer;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: #ffffff;
			display: flex;
			width: max-content;
			align-items: center;
			justify-content: center;
		}
	}
	&__book {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		width: 100%;
		padding: 0 190px 0 0;
		&-title {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: rgba(67, 81, 121, 0.5);
			& span {
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 29px;
				color: #435179;
				opacity: 1;
				margin: 0 11px;
			}
			& h3 {
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 29px;
				color: rgba(67, 81, 121, 0.5);
			}
			& p {
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 29px;
				color: #435179;
				opacity: 1;
			}
		}
		&-list {
			margin: 104px 0 0 0;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
			gap: 42px 30px;
			width: 100%;
		}
		&-items {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			width: 185px;
			&-photo {
				width: 113px;
				height: 125px;
				background: #625dee;
				border-radius: 26px;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				& img {
					width: 60px;
					height: 80px;
					object-fit: cover;
				}
			}
			&-text {
				margin: 20px 0 0 0;
				text-align: center;
				& p {
					font-style: normal;
					font-weight: 500;
					font-size: 12px;
					line-height: 16px;
					text-align: center;
					color: #1f1f1f;
				}
			}
		}
	}
	&__page {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		width: 100%;
		&-title {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: rgba(67, 81, 121, 0.5);
			& span {
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 29px;
				color: #435179;
				opacity: 1;
				margin: 0 11px;
			}
			& h3 {
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 29px;
				color: rgba(67, 81, 121, 0.5);
			}
			& p {
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 29px;
				color: #435179;
				opacity: 1;
			}
		}
		&-add {
			margin: 45px 0 0 25px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			& h3 {
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 19px;
				color: #435179;
			}
		}
		&-adds {
			margin: 23px 0 0 0;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			& p {
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 19px;
				color: #435179;
			}
			& span {
				margin: 0 0 0 32px;
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 19px;
				color: #a6a6a6;
			}
		}
		&-wrapper {
			background: #ffffff;
			border-radius: 12px;
			padding: 30px 40px;
			margin: 42px 0 0 0;
			height: 550px;
			width: 100%;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
		}
		&-list {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(61px, 1fr));
			gap: 20px 8px;
			width: 100%;
		}
		&-items {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			width: 61px;
			height: max-content;
			&-number {
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 22px;
				color: #625dee;
			}
			&-line {
				margin: 11px 0;
				border-top: 3px solid #625dee;
				width: 100%;
				height: 3px;
			}
			&-photo {
				width: 100%;
				height: 85px;
				overflow-y: hidden;
				& img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
	&__opacity-book {
		& .t-quiz__page-items-number {
			opacity: 0.5;
		}
		& .t-quiz__page-items-line {
			opacity: 0.5;
		}
	}
}
