.modelScheduleTeacher.display-n
    form.modelScheduleTeacher__wrappers 
        .modelScheduleTeacher__wrappers-close 
            img(src="../svg/t-schedule/model-close.svg", alt="close")
        .modelScheduleTeacher__wrappers-title 
        .modelScheduleTeacher__wrappers-lessons 
        input.modelScheduleTeacher__wrappers-date#datetimepickerScheduleTeacherModel

