header.t-header__nav
    .wrappers 
        .t-header__nav-title 
            p С возвращением Замятина Татьяна Сергеевна
        .t-header__nav-client 
            .t-header__nav-client-sum 
                h3 Мой счет: 
                p 10 790₽ 
            .t-header__nav-client-notif 
                @@include('../svg/t-profile/yved.svg')
            .t-header__nav-client-profile 
                .t-header__nav-client-profile-photo 
                .t-header__nav-client-profile-name 
                    h3 Замятина Татьяна
                    p Педагог
                .t-header__nav-client-arrow 
                    @@include('../svg/t-profile/arrow-down.svg')
                .t-header__nav-client-list.display-n
                    a(href="t-profile.html").t-header__nav-client-btn 
                        p Профиль
                    button.t-header__nav-client-btn
                        p Выйти