.t-list {
	padding: 65px 0 50px 115px;
	font-family: Inter;
	&__title {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		& p {
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			color: #435179;
		}
		&-filter {
			margin: 0 0 0 70px;
		}
	}
	&__nav {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin: 52px 0 0 0;
		&-items {
			& p {
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 19px;
				color: #435179;
			}
			&:nth-child(1) {
				margin: 0 0 0 17px;
			}
			&:nth-child(2) {
				margin: 0 0 0 405px;
			}
			&:nth-child(3) {
				margin: 0 0 0 178px;
			}
		}
	}
	&__block {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		&-items {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			margin: 23px 0 0 0;
			&:last-child {
				margin: 23px 0;
			}
			&-info {
				background: #ffffff;
				padding: 13px 18px;
				max-width: 880px;
				width: 100%;
				border-radius: 15px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				&-photo {
					width: 36px;
					height: 36px;
					background: #635ff2;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					overflow-y: hidden;
					& img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				&-name {
					margin: 0 0 0 16px;
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 17px;
					color: #435179;
					width: 340px;
				}
				&-lesson {
					margin: 0 0 0 auto;
					width: 170px;
					font-style: normal;
					font-weight: bold;
					font-size: 10px;
					line-height: 12px;
					color: #8349ff;
				}
				&-date {
					font-style: normal;
					font-weight: bold;
					font-size: 10px;
					line-height: 12px;
					width: 130px;
					margin: 0 0 0 auto;
					color: #435179;
				}
			}
			&-btn {
				cursor: pointer;
				background: #ff5283;
				border-radius: 31px;
				padding: 16px 45px;
				& a {
					font-style: normal;
					font-weight: bold;
					font-size: 24px;
					line-height: 29px;
					color: #ffffff;
				}
			}
		}
	}
}

.js-select-css {
	padding: 7px 20px;
	border: 2px solid #635ff2;
	border-radius: 30.5px;
	background: #fff;
	width: 250px;
	position: relative;
}
.js-select-css .sort-select-placeholder {
	display: block;
	padding: 5px 0;
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
}
.js-select-css:after {
	display: none !important;
}
.js-select-css .sort-select-placeholder:after {
	content: "";
	background: url("../svg/t-list/arrow-filter.svg") no-repeat;
	transition: all 0.5s ease;
	position: absolute;
	top: 50%;
	right: 8px;
	transform: translate(0, -50%);
	height: 12px;
	width: 16px;
}
.js-select-css.sort-select-item-active .sort-select-placeholder:after {
	transition: all 0.5s ease;
	transform: translate(0, -50%) rotate(180deg);
}
.js-select-css .sort-select-block {
	bottom: auto;
	top: calc(100% + 1px);
	position: absolute;
	left: 0;
	z-index: 5;
}
.js-select-css.sort-select-item-active {
	/* border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 0; */
}
.js-select-css.sort-select-item-active .sort-select-block {
	padding: 20px;
	width: calc(100% - 40px);
	border-radius: 30px;
	height: auto;
	border: 2px solid #635ff2;
	box-sizing: content-box;
	background: #fff;
	margin-left: -2px;
}
.js-select-css .sort-select-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	height: 145px;
	overflow-y: auto;
}
.js-select-css .sort-select-wrapper::-webkit-scrollbar {
	width: 27px;
}
.js-select-css .sort-select-wrapper::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 10px 10px #435179;
	box-shadow: inset 0 0 10px 10px #435179;
	border: solid 12px transparent;
}
.js-select-css .sort-select-wrapper::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 10px 10px #635ff2;
	box-shadow: inset 0 0 10px 10px #635ff2;
	border: solid 10px transparent;
}
.js-select-css .sort-select-element {
	width: 175px;
	padding: 3px 0;
	background: 0 0;
	color: #000;
	border: none;
	margin: 0 0 5px 0;
	text-align: left;
	cursor: pointer;
}
