@@include('components/_head.pug', {
    "title": "Профиль",
})

@@include('components/_menu.pug')

@@include('components/_s-header.pug')

section.s-search 
    .wrappers 
        .s-search__block 
            .s-search__title Поиск репетитора
            .s-search__select 
                <div id="s_searchCap">Веберите предмет ...</div>
                <select id="s_search">
                    <option value=""></option>
                    <option value="Русский язык">Русский язык</option>
                    <option value="Математика">Математика</option>
                    <option value="Биология">Биология</option>
                    <option value="Русский язык">Русский язык</option>
                    <option value="Математика">Математика</option>
                    <option value="Биология">Биология</option>
                    <option value="Русский язык">Русский язык</option>
                    <option value="Математика">Математика</option>
                    <option value="Биология">Биология</option>
                </select>
        .s-search__teacher 
            .s-search__teacher-items 
                .s-search__teacher-photo 
                    .s-search__teacher-photo-title Мой преподаватель
                    .s-search__teacher-photo-items
                .s-search__teacher-name Замятина Татьяна Сергеевна
            .s-search__teacher-items 
                .s-search__teacher-photo 
                    .s-search__teacher-photo-title 
                    .s-search__teacher-photo-items
                .s-search__teacher-name Замятина Татьяна Сергеевна
            .s-search__teacher-items 
                .s-search__teacher-photo 
                    .s-search__teacher-photo-title 
                    .s-search__teacher-photo-items
                .s-search__teacher-name Замятина Татьяна Сергеевна
            .s-search__teacher-items 
                .s-search__teacher-photo 
                    .s-search__teacher-photo-title 
                    .s-search__teacher-photo-items
                .s-search__teacher-name Замятина Татьяна Сергеевна
            .s-search__teacher-items 
                .s-search__teacher-photo 
                    .s-search__teacher-photo-title 
                    .s-search__teacher-photo-items
                .s-search__teacher-name Замятина Татьяна Сергеевна


@@include('components/_script.pug')