@@include('components/_head.pug', {
    "title": "Моё расписание",
})

.menu 
    .menu__logo 
        img(src="./svg/menu/logos.svg", alt="logo")
    .menu__list 
        a(href="t-profile.html").menu__list-items#menuList-1
            .menu__list-items-add
            svg.menu-icons: use(xlink:href="./svg/sprite.svg#menu--menu-icons-1")
        a(href="t-schedule.html").menu__list-items#menuList-2
            .menu__list-items-add
            svg.menu-icons: use(xlink:href="./svg/sprite.svg#menu--menu-icons-2")
        a(href="t-student.html").menu__list-items#menuList-3.menu__list-items-active
            .menu__list-items-add
            svg.menu-icons: use(xlink:href="./svg/sprite.svg#menu--menu-icons-3")
        a(href="t-profile.html").menu__list-items#menuList-4 
            .menu__list-items-add
            svg.menu-icons: use(xlink:href="./svg/sprite.svg#menu--menu-icons-4")
        a(href="t-profile.html").menu__list-items#menuList-5 
            .menu__list-items-add
            svg.menu-icons: use(xlink:href="./svg/sprite.svg#menu--menu-icons-5")

@@include('components/_t-header.pug')

section.t-question
    .wrappers 
        .t-question__list 
            .t-question__list-title Популяные вопросы
            .t-question__list-block 
                .t-question__list-block-items#t_questionListElement_1
                    .t-question__list-block-nav
                        .t-question__list-block-title Кто из римских поэтов был выслан из Рима?
                        button.t-question__list-block-btn 
                            img(src="./svg/t-question/plus.svg", alt="icons")
                    .t-question__list-block-text.display-n Овидий
                        br
                        br
                        | Иного направления был третий великий поэт эпохи Августа. Публий Овидий Назон (43 г. до н. э. — 17 г. н. э.) происходил из старинной и бога­той всаднической семьи, проживавшей в г. Сульмоне, в Средней Италии. Как было принято в те времена в богатых семьях, молодой Овидий полу­чил тщательное риторическое образование в Риме, по окончании которого предпринял путешествие в Грецию и Малую Азию. По возвращении он
                .t-question__list-block-items#t_questionListElement_2
                    .t-question__list-block-nav
                        .t-question__list-block-title Кто из римских поэтов был выслан из Рима?
                        button.t-question__list-block-btn 
                            img(src="./svg/t-question/plus.svg", alt="icons")
                    .t-question__list-block-text.display-n Овидий
                        br
                        br
                        | Иного направления был третий великий поэт эпохи Августа. Публий Овидий Назон (43 г. до н. э. — 17 г. н. э.) происходил из старинной и бога­той всаднической семьи, проживавшей в г. Сульмоне, в Средней Италии. Как было принято в те времена в богатых семьях, молодой Овидий полу­чил тщательное риторическое образование в Риме, по окончании которого предпринял путешествие в Грецию и Малую Азию. По возвращении он
                .t-question__list-block-items#t_questionListElement_3
                    .t-question__list-block-nav
                        .t-question__list-block-title Кто из римских поэтов был выслан из Рима?
                        button.t-question__list-block-btn 
                            img(src="./svg/t-question/plus.svg", alt="icons")
                    .t-question__list-block-text.display-n Овидий
                        br
                        br
                        | Иного направления был третий великий поэт эпохи Августа. Публий Овидий Назон (43 г. до н. э. — 17 г. н. э.) происходил из старинной и бога­той всаднической семьи, проживавшей в г. Сульмоне, в Средней Италии. Как было принято в те времена в богатых семьях, молодой Овидий полу­чил тщательное риторическое образование в Риме, по окончании которого предпринял путешествие в Грецию и Малую Азию. По возвращении он
                .t-question__list-block-items#t_questionListElement_4
                    .t-question__list-block-nav
                        .t-question__list-block-title Кто из римских поэтов был выслан из Рима?
                        button.t-question__list-block-btn 
                            img(src="./svg/t-question/plus.svg", alt="icons")
                    .t-question__list-block-text.display-n Овидий
                        br
                        br
                        | Иного направления был третий великий поэт эпохи Августа. Публий Овидий Назон (43 г. до н. э. — 17 г. н. э.) происходил из старинной и бога­той всаднической семьи, проживавшей в г. Сульмоне, в Средней Италии. Как было принято в те времена в богатых семьях, молодой Овидий полу­чил тщательное риторическое образование в Риме, по окончании которого предпринял путешествие в Грецию и Малую Азию. По возвращении он
                .t-question__list-block-items#t_questionListElement_5
                    .t-question__list-block-nav
                        .t-question__list-block-title Кто из римских поэтов был выслан из Рима?
                        button.t-question__list-block-btn 
                            img(src="./svg/t-question/plus.svg", alt="icons")
                    .t-question__list-block-text.display-n Овидий
                        br
                        br
                        | Иного направления был третий великий поэт эпохи Августа. Публий Овидий Назон (43 г. до н. э. — 17 г. н. э.) происходил из старинной и бога­той всаднической семьи, проживавшей в г. Сульмоне, в Средней Италии. Как было принято в те времена в богатых семьях, молодой Овидий полу­чил тщательное риторическое образование в Риме, по окончании которого предпринял путешествие в Грецию и Малую Азию. По возвращении он
                .t-question__list-block-items#t_questionListElement_6
                    .t-question__list-block-nav
                        .t-question__list-block-title Кто из римских поэтов был выслан из Рима?
                        button.t-question__list-block-btn 
                            img(src="./svg/t-question/plus.svg", alt="icons")
                    .t-question__list-block-text.display-n Овидий
                        br
                        br
                        | Иного направления был третий великий поэт эпохи Августа. Публий Овидий Назон (43 г. до н. э. — 17 г. н. э.) происходил из старинной и бога­той всаднической семьи, проживавшей в г. Сульмоне, в Средней Италии. Как было принято в те времена в богатых семьях, молодой Овидий полу­чил тщательное риторическое образование в Риме, по окончании которого предпринял путешествие в Грецию и Малую Азию. По возвращении он

        .t-question__add 
            .t-question__add-title Не нашли ответ на свой вопрос?
            a(href="#").t-question__add-link  Напишите в службу поддержки

@@include('components/_modelScheduleTeacher.pug')

@@include('components/_script.pug')